@charset "ISO-8859-1";

body {
	min-height: 800px;
	background-image: url('../img/back.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
	

div {
	width: 500px;
	align-content: center;
	background: #fff;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 320px;
	padding-bottom: 10px;
}

div h2{
	text-align: center;
	margin-top: 50px;
	padding-top: 10px;
}
